
<div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content mymodal">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                      <label for="" class="col-form-label">User Name:</label>
                      <input type="text" class="form-control in" placeholder="set your userName here">
                  </div>
                  <div class="mb-3">
                      <label for="message-text" class="col-form-label">Password:</label>
                      <input type="password" class="form-control in" placeholder="set here your password">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn close" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn success">Send message</button>
          </div>
      </div>
    </div>
</div>



<div id="mySlide" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#mySlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#mySlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#mySlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="../../../assets/prueba1.jpg"class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h1 style="color: aliceblue;">Muebles</h1>
          <p>Calidad y acabado de primera.</p>
      </div>
      </div>
      <div class="carousel-item">
      <img src="../../../assets/prueba2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
      <img src="../../../assets/prueba3.jpg" class="d-block w-100" alt="...">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>

<br>
<br>
<br>
<hr>

<figure class="text-center">
  <blockquote class="blockquote">
    <h3>Furniture Created With Thoughts of You</h3>
    <p>choose the material that you like the most and we will take care of it.</p>
  </blockquote>
</figure>

<div class="text-success">
  <hr>
</div>
<br>
<br>
<br>

<div class="card text-bg-dark">
    <img src="../../../assets/card.jpg" class="card-img" alt="..." width="400" height="700">
    <div class="card-img-overlay">
      <h2 class="card-title text-center" style="font-family: 'Times New Roman', Times, serif;" >We are friendly with the environment</h2>
      <p class="card-text text-center" style="font-family:'Times New Roman', Times, serif; font-size: 24px;" >The wood we use is reusable.</p>
    </div>
  </div>
  <br><br><br><br>

  <div class="container">
    <img id ="img1" src="../../../assets/targeta1.jpg">
    <br><br><br><p>We use the best tools for a better quality finish, which provides a guarantee of safety for you and your family, always choosing the best materials and tools.</p>
  </div>

<br><br><br><br><br><br><br>

<div class="container">
  <img id ="img2" src="../../../assets/targeta2.jpg">
  <br><br><br><p>Each and every piece we make is handmade entirely in our shop, from the selection of the finest hardwoods, the fitting of each joint to the final finish.</p>
</div>

<br><br><br><br><br><br><br>

<div class="container">
  <img id ="img3" src="../../../assets/targeta3.jpg">
  <br><br><br><p>We are extremely passionate about making beautiful, functional pieces of furniture for our clients. Future family heirlooms that can be used and enjoyed for generations.</p>
</div>

<br><br><br><br><br><br><br>

